

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
  height: 100vh;
  padding: 20px;

  .form-group {
    margin-bottom: 15px;
    width: 100%;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
        color: #333;
  }

  input {
    width: 95%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: aliceblue;
  }

  a{
    text-decoration: none;
    color: #007bff;
    margin-top: 10px;
    align-self: center;
  }

  button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    align-self: center;
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
  }
    button:hover {
        background-color: #0056b3;
    }
    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 10px;
    }
    .success-message {
        color: green;
        font-size: 14px;
        margin-top: 10px;
    }
}