*{
    padding: 0px;
}
.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ind-list{
    display: grid;
    grid-template-columns: 1rem 10rem 2rem 2rem;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 6px;
    margin-bottom: 6px;
}

ul{
    list-style-type: none;
    padding-top: 12px;
}

li{
    align-self: center;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

button{
    text-decoration: none;
    border-width: 1px;
    padding: 6px 6px 6px 6px;
    border-radius: 12px;
    background-color: aliceblue;
}

input {
    width: 16px;
}